@import '../../../../assets/styles/colors';

.masonry-item {
  img {
    height: auto;
    width: 280px;
    max-height: 320px;
    border: transparent 5px solid;
    border-radius: 2px;

    &:hover {
      filter: none;
      transition: all 200ms ease-in;
    }
  }

  .selected-text {
    color: $white-color;
    background-color: $primary-blue-color;
    border-radius: 3px;
    display: none;
  }

  .selected {
    filter: none;
    border: $primary-blue-color 5px solid;
  }

  .selected + .selected-text {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 16px;
    transition: all 200ms ease-in;
  }
}
