@import '../../../../../assets/styles/colors';

#tags-container {
  .tag {
    display: inline;
    margin: 8px 8px 8px 0;
    padding: 4px 8px;
    color: white;
    background-color: $dark-blue-color;

    border: $dark-blue-color 1px solid;
    border-radius: 5px;
    font-size: 12px;
  }
}
