@import '../../../../../assets/styles/colors';

:host {
  #studio-component-container {
    display: grid;
    grid-template-columns: auto 1fr;
    background: $studio-background-color;

    .tool-bar-container {
      background: $white-color;
      box-shadow: inset 0 0 0 1px #c5ccd0;
      padding-top: 60px;

      .toolbar-icon-size {
        height: 32px;
        width: 32px;
      }

      .add-text {
        .add-text-icon {
          @extend .toolbar-icon-size;
        }
      }

      .shapes-text {
        .shapes-text-icon {
          @extend .toolbar-icon-size;
        }
      }
    }

    .art-board-container {
      padding-top: 60px;
    }
  }
}
