<!-- Header -->
<one12-header></one12-header>

<!-- Studio Panel -->
<section id="studio-component-container" class="full-height container">
  <section class="tool-bar-container">
    <!-- Post Information Tool -->
    <div matRipple class="m-5 p-20 flex-row align-items-justify-content-center pointer tool-bar-icon-container"
      (click)="onMenuItemSelected('post-details')">
      <div class="info-text flex-column align-items-justify-content-center">
        <i-feather name="info" class="info-text-icon"></i-feather>
        <span class="tool-bar-text">Post Details</span>
      </div>
    </div>

    <!-- Add Text Tool -->
    <div matRipple class="m-5 p-20 flex-row align-items-justify-content-center pointer tool-bar-icon-container"
      (click)="onMenuItemSelected('add-text')">
      <div class="add-text flex-column align-items-justify-content-center">
        <i-feather name="type" class="add-text-icon"></i-feather>
        <span class="tool-bar-text">Add Text</span>
      </div>
    </div>
  </section>

  <section class="art-board-container flex-column" #container>
    <section class="art-board-tools-container p-16">
      <button mat-flat-button color="primary" class="btn primary-btn mr-30 post-btn">
        <span>Post</span>
      </button>

      <div class="mr-30">
        Background:
        <mat-form-field class="full-width mt-m20" appearance="none" color="primary" floatLabel="always"
          autocomplete="off">
          <input matInput [(colorPicker)]="postBackgroundColor" [style.background]="postBackgroundColor"
            cpPosition="bottom" class="pointer" readonly>
        </mat-form-field>
      </div>

      <div class="mr-30 flex-column">
        Expand Padding:
        <mat-button-toggle-group>
          <mat-button-toggle>Top</mat-button-toggle>
          <mat-button-toggle>Bottom</mat-button-toggle>
          <mat-button-toggle>Left</mat-button-toggle>
          <mat-button-toggle>Right</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </section>
    <div class="full-height flex-column align-items-justify-content-center" (dragover)="$event.preventDefault()">
      <section id="post-messages"></section>
      <img [src]="imageUrl | safe: 'url'" alt="" [style.max-width]="container.clientWidth - 100 + 'px'"
        [style.max-height]="container.clientHeight - 200 + 'px'" />
    </div>
  </section>
</section>
