<!-- Header -->
<one12-header></one12-header>

<!-- Studio Panel -->
<section id="studio-component-container" class="full-height container">
  <section class="tool-bar-container">
    <div class="p-20 flex-row align-items-justify-content-center pointer">
      <section class="add-text flex-column align-items-justify-content-center">
        <i-feather name="type" class="add-text-icon"></i-feather>
        <span>Add Text</span>
      </section>
    </div>

    <div class="flex-row align-items-justify-content-center pointer">
      <section class="shapes-text flex-column align-items-justify-content-center">
        <i-feather name="box" class="shapes-text-icon"></i-feather>
        <span>Add Shapes</span>
      </section>
    </div>
  </section>
  <section class="art-board-container"></section>
</section>
