<!-- Header -->
<one12-header></one12-header>

<!-- Studio Panel -->
<section id="studio-component-container" class="full-height container">
  <section class="tool-bar-container">
    <!-- Post Information Tool -->
    <div matRipple class="m-5 p-20 flex-row align-items-justify-content-center pointer tool-bar-icon-container">
      <div class="info-text flex-column align-items-justify-content-center">
        <i-feather name="info" class="info-text-icon"></i-feather>
        <span class="tool-bar-text">Post Details</span>
      </div>
    </div>

    <!-- Add Text Tool -->
    <div matRipple class="m-5 p-20 flex-row align-items-justify-content-center pointer tool-bar-icon-container">
      <div class="add-text flex-column align-items-justify-content-center">
        <i-feather name="type" class="add-text-icon"></i-feather>
        <span class="tool-bar-text">Add Text</span>
      </div>
    </div>

    <!-- Add Shapes Tool -->
    <div matRipple class="m-5 p-20 flex-row align-items-justify-content-center pointer tool-bar-icon-container">
      <div class="shapes-text flex-column align-items-justify-content-center">
        <i-feather name="box" class="shapes-text-icon"></i-feather>
        <span class="tool-bar-text">Add Shapes</span>
      </div>
    </div>
  </section>

  <section class="tool-bar-options-container">

  </section>

  <section class="art-board-container" #container>
    <div class="full-height flex-column align-items-justify-content-center">
      <img [src]="imageUrl | safe: 'url'" alt="" [style.max-width]="container.clientWidth - 100 + 'px'"
        [style.max-height]="container.clientHeight - 200 + 'px'" />
    </div>
  </section>
</section>
