@import '../../../../../../assets/styles/colors';

#menu-sidebar-card-container {
  background-color: $white-color;
  border-radius: 16px;
  border: $light-grey-color 1px solid;
  overflow: hidden;

  .menu-items-container {
    background-color: $primary-blue-color;
    color: $white-color;
    padding-top: 18px;
    padding-bottom: 18px;

    .menu-item {
      display: flex;
      padding: 16px;
      margin-top: 8px;
      border-left: transparent 5px solid;

      &:hover {
        border-left-color: white;

        section {
          i {
            color: #EB597B;
          }
        }
      }

      section {
        margin-right: 16px;
      }
    }
  }
}
