<section id="add-post-container">
  <section>
    <!-- Header -->
    <header class="flex">
      <!-- Backspace -->
      <button mat-icon-button color="primary" class="animate__animated animate__fadeInRight">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <!-- Header Title -->
      <section class="flex-column mt-5">
        <section class="primary-color f-26 animate__animated animate__fadeInUp">Creator's Corner</section>
        <section class="text-muted animate__animated animate__fadeInUp">
          Choose from Template/ Upload Post Content
        </section>
      </section>
    </header>
  </section>
  <section>Right Wing</section>
</section>
