<!--suppress JSRemoveUnnecessaryParentheses -->
<main id="home-container">
  <!-- Header -->
  <section class="time-line-header">
    <one12-header></one12-header>
  </section>

  <!-- Left Sidebar -->
  <section class="left-sidebar-container flex-column card-no-hover-with-shadow">

    <!-- Logo -->
    <section class="text-align-center">
      <h1>One 12</h1>
    </section>

    <!-- Menu Items -->
    <shared-menu-items class="mb-16" [navItems]="navItems" [selectedNavItem]="selectedNavItem">
    </shared-menu-items>

    <!-- Help & Support Card -->
    <one12-support-center-card class="mb-16"></one12-support-center-card>

    <!-- Announcements Card -->
    <one12-news-and-announcements-card class="mb-16"></one12-news-and-announcements-card>

  </section>

  <!-- Tags -->
  <section class="tags-container overflow-hidden mx-30 p-20 pb-0">
    <!-- Tags Header -->
    <one12-section-header
      title="What People Are"
      subtitle="Talking"
      [showScrollButton]="!(isFetchingTrendingTags$ | async)"
      (scrollLeftButtonClicked)="trendingTags.scrollLeft()"
      (scrollRightButtonClicked)="trendingTags.scrollRight()">
    </one12-section-header>

    <!-- Tags Stream -->
    <one12-tag-stream
      #trendingTags
      [tags]="trendingTags$ | async"
      [isFetchingTrendingTags]="isFetchingTrendingTags$ | async"
      (tagSelected)="onTagSelected($event)">
    </one12-tag-stream>
  </section>

  <!-- Popular Posts -->
  <section class="popular-posts-container overflow-hidden mx-30 p-20">
    <!-- Popular Posts Header -->
    <one12-section-header
      title="Popular"
      subtitle="Now"
      [showScrollButton]="!(isFetchingPopularPosts$ | async)"
      (scrollLeftButtonClicked)="popularPost.scrollLeft()"
      (scrollRightButtonClicked)="popularPost.scrollRight()">
    </one12-section-header>

    <!-- Popular Posts Stream -->
    <one12-popular-posts-stream
      #popularPost
      [isFetchingPopularPosts]="isFetchingPopularPosts$ | async"
      [popularPosts]="popularPosts$ | async">
    </one12-popular-posts-stream>
  </section>

  <!-- Posts List -->
  <section class="posts-container mx-30">
    <one12-section-header title="Feeds" class="pl-20"></one12-section-header>

    <!-- Load Indicator -->
    <section class="posts" *ngIf="isFetchingPosts$ | async">
      <article class="mb-16" *ngFor="let post of postsShadowedItems">
        <section class="post-loader-wrapper">
          <section></section>
          <section></section>
          <section></section>
          <section></section>
        </section>
      </article>
    </section>

    <!-- Feed Stream -->
    <section
      *ngIf="!(isFetchingPosts$ | async)"
      class="posts"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onFeedsScrolled($event)">
      <article class="post mb-16" *ngFor="let post of posts$ | async">
        <one12-feed-card [post]="post" (postSelected)="onPostSelected($event)"></one12-feed-card>
      </article>
    </section>
  </section>
</main>
