#home-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 150px 100px auto;
  grid-template-areas:
    'logo time-line-header'
    'left-sidebar popular-posts'
    'left-sidebar trending-tags'
    'left-sidebar feeds';

  .logo {
    grid-area: logo;
  }

  .left-sidebar-container {
    grid-area: left-sidebar;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }

  .time-line-header {
    grid-area: time-line-header;
    margin: 8px 16px;
  }

  .tags-container {
    grid-area: trending-tags;
  }

  .popular-posts-container {
    grid-area: popular-posts;
  }

  .posts-container {
    grid-area: feeds;
    display: grid;

    .posts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 16px;
    }
  }
}
