@import "../../../../assets/styles/colors";

#home-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 150px 75px auto;
  grid-template-areas:
    'logo time-line-header'
    'left-sidebar popular-posts'
    'left-sidebar trending-tags'
    'left-sidebar feeds';

  .logo {
    grid-area: logo;
  }

  .left-sidebar-container {
    grid-area: left-sidebar;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }

  .time-line-header {
    grid-area: time-line-header;
    margin: 8px 16px;
  }

  .tags-container {
    grid-area: trending-tags;
  }

  .popular-posts-container {
    grid-area: popular-posts;
  }

  .posts-container {
    grid-area: feeds;
    display: grid;

    .posts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 16px;

      .post-loader-wrapper {
        border-radius: 16px;
        border: $light-grey-color 1px solid;
        padding: 16px;

        section {
          height: 14px;
          margin-bottom: 10px;
          background-color: $skeleton-color;
          animation: pulse 2s infinite ease-in-out;
        }

        section:nth-child(1) {
          width: 150px;
          border-bottom: 1px $light-grey-color solid;
        }

        section:nth-child(2) {
          width: 200px;
          border-bottom: 1px $light-grey-color solid;
        }

        section:nth-child(3) {
          border-bottom: 1px $light-grey-color solid;
          height: 380px;
          width: 320px;
        }

        section:nth-child(4) {
          border-bottom: 1px $light-grey-color solid;
        }
      }

      @keyframes pulse {
        0% {
          background-color: $skeleton-color-01;
        }

        50% {
          background-color: $skeleton-color-03;
        }

        100% {
          background-color: $skeleton-color-01;
        }
      }
    }
  }
}
