<section id="post-details-cards-container" class="flex wrap">
  <!-- Points -->
  <section class="points-card-container flex-column align-items-center p-16 mr-16">
    <i class="fas fa-award fa-2x p-2"></i>
    <section class="f-18 p-2">2800</section>
    <section class="f-12 p-2">Points</section>
  </section>

  <!-- Views -->
  <section class="views-card-container flex-column align-items-center p-16 mr-16">
    <i class="fas fa-eye fa-2x p-2"></i>
    <section class="f-18 p-2">345</section>
    <section class="f-12 p-2">Views</section>
  </section>

  <!-- Comments -->
  <section class="comments-card-container flex-column align-items-center p-16 mr-16">
    <i class="fas fa-comments fa-2x p-2"></i>
    <section class="f-18 p-2">13</section>
    <section class="f-12 p-2">Comments</section>
  </section>
</section>
