@import '../../../../../../assets/styles/colors';

#news-and-announcements-card-container {
  margin: 10px 20px 10px 20px;
  border-radius: 16px;
  border: $light-grey-color 1px solid;
  overflow: hidden;
  background-color: $blue-color;
  color: white;
  padding: 16px;
}
