@import '../../../../../../assets/styles/colors';

#add-post-container {
  .add-post-header {
    background: $primary-blue-color;
    padding: 5px 5px 5px 10px;
    color: $white-color;
    font-size: 16px;

    input {
      caret-color: $white-color;
    }
  }

  .empty-post-placeholder {
    background: $white-color;
    border: $text-color 2px dashed;
    color: $grey-color;
  }
  .post-add-text-container {
    color: $white-color;
    background-color: $text-color;

    input {
      border-color: $grey-color;
      border-width: 0 0 1px 0;
      border-style: solid;
      color: $white-color;
      caret-color: $white-color;
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-label {
    color: $white-color;
  }
}
