<section id="add-post-container">
  <!-- Header -->
  <header class="flex-column add-post-header">
    <section class="flex-column full-width">
      <!-- Title Text Box -->
      <section class="flex">
        <input matInput type="text" class="p-5" [value]="title" placeholder="Title" [(ngModel)]="title" />
      </section>

      <!-- Description Text Box -->
      <section class="flex">
        <input
          matInput
          type="text"
          class="p-5 f-12"
          placeholder="Description"
          [value]="description"
          [(ngModel)]="description"
        />
      </section>

      <!-- Tags -->
      <section class="ml-5 flex align-items-center" *ngIf="tags.length">
        <section>Tags</section>
        <one12-tags class="ml-15" [tags]="tags"></one12-tags>
      </section>

      <section class="flex">
        <input
          matInput
          type="text"
          class="p-5"
          [value]="tag"
          [(ngModel)]="tag"
          placeholder="+ Tag(s)"
          (keydown.enter)="onEnterKeyPressed()"
        />
      </section>
    </section>
  </header>

  <section class="flex justify-content-end mt-10" *ngIf="imageUrl">
    <section *ngIf="!canShowAddTextPanel">
      <button mat-flat-button color="accent" (click)="canShowAddTextPanel = true">Add Text</button>
    </section>
  </section>

  <!-- Text -->
  <section
    class="post-add-text-container flex-column align-items-justify-content-center p-20"
    *ngIf="canShowAddTextPanel"
  >
    <!-- Text -->
    <mat-form-field class="full-width mt-m20" appearance="standard" floatLabel="always">
      <mat-label>Enter Text</mat-label>
      <input matInput type="text" class="p-5" placeholder="Enter Text" [(ngModel)]="postText" />
    </mat-form-field>

    <!-- Font Size -->
    <label for="mat-slider" class="align-self-start f-12">Select Font Size ({{ fontSize + ' px' }})</label>
    <mat-slider class="full-width" id="mat-slider" thumbLabel="true" min="2" max="64" [(value)]="fontSize"></mat-slider>

    <!-- Font Color -->
    <mat-form-field class="full-width mt-m20" appearance="standard" floatLabel="always">
      <mat-label>Font Color</mat-label>
      <input matInput [(colorPicker)]="color" [style.background]="color" cpPosition="bottom" class="pointer" />
    </mat-form-field>

    <section class="action-buttons-container">
      <button mat-flat-button color="primary" (click)="onSaveTextButtonClicked()">Save</button>
      <button mat-flat-button color="warn" class="ml-15" (click)="canShowAddTextPanel = false">Cancel</button>
    </section>
  </section>

  <!-- Selected Post -->
  <section class="flex-column align-items-justify-content-center mt-10" #container>
    <input class="collapse" type="file" accept="image/*" (change)="onFileSelected(fileUpload)" #fileUpload />

    <!-- Image Placeholder -->
    <section
      class="full-width flex-column align-items-justify-content-center empty-post-placeholder h-200 pointer"
      *ngIf="!imageUrl"
      (click)="fileUpload.click()"
    >
      <mat-icon class="f-48 h-48">add</mat-icon>
      <span>Click here to Upload Meme</span>
    </section>

    <!-- Selected Image -->
    <section class="post-content" (dragover)="onPostContentDragOver($event)">
      <section id="post-messages"></section>
      <img [src]="imageUrl | safe: 'url'" alt="" [style.max-width]="container.clientWidth + 'px'" />
    </section>
    <section id="id-content"></section>
  </section>

  <section class="flex align-items-justify-content-center">
    <button mat-flat-button color="primary">Upload As Post</button>
    <button mat-flat-button color="accent" class="ml-64">Upload As Template</button>
  </section>
</section>
