@import '../../../../../../assets/styles/colors';

#menu-sidebar-card-container {
  margin-top: 30px;

  .menu-items-container {
    .menu-item-wrapper {
      margin-top: 10px;
      border-left-width: 4px;
      border-left-style: solid;
      border-left-color: $white-color;

      .menu-item {
        display: flex;
        padding: 16px;
        margin-left: 20px;
        border-left: transparent 5px solid;
        color: $primary-blue-color;
        border-radius: 10px;
        width: calc(100% - 50px);
        transition: background-color 0.2s ease-in;

        &.selected {
          color: $link-content-color;
          background-color: $primary-blue-color;
        }

        &:hover {
          color: $link-content-color;
          background-color: $primary-blue-color;
        }

        section {
          margin-right: 16px;
        }
      }

      hr {
        width: 80%;
        color: $body-background-color;
      }

      &.selected {
        border-left-color: $primary-blue-color;
      }
    }
  }
}
