<section id="search-templates-container">
  <!-- Search Header-->
  <section>
    <form action="" autocomplete="off" spellcheck="false">
      <section class="text-muted">Filter Templates</section>
      <mat-form-field class="full-width" appearance="standard" floatLabel="always">
        <input matInput type="text" />
        <button mat-button matSuffix mat-icon-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </section>
</section>
