@import '../../../../../../assets/styles/colors';

#search-templates-container {
  input {
    border-color: $grey-color;
    border-width: 0 0 1px 0;
    border-style: solid;
    color: $text-color;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  .search-templates-results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    .search-result-item {
      border: $grey-color 1px solid;
      border-radius: 5px;
    }
  }
}
