<section id="search-templates-container" class="mt-m10">
  <!-- Search Header-->
  <section>
    <form action="" autocomplete="off" spellcheck="false" class="mt-m20">
      <!-- Search Text Box Header -->
      <section class="text-muted">Filter Templates</section>
      <!-- Search Text Box -->
      <section class="flex">
        <mat-form-field
          class="full-width mt-m20"
          appearance="standard"
          floatLabel="always"
        >
          <input matInput type="text" class="p-5" />
          <button mat-button matSuffix mat-icon-button color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </section>
    </form>
  </section>

  <!-- Search Results -->
  <section class="search-templates-results-container">
    <!-- Search Item -->
    <section
      class="flex-column search-result-item pointer"
      *ngFor="let searchResult of searchResults"
    >
      <img [src]="searchResult.imageUrl" alt="" />
      <section class="m-5">Used by 100 Posts</section>
    </section>
  </section>
</section>
