@import '../../../../assets/styles/colors';

#post-container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'post post-details'
    'post comments';

  .post-container {
    grid-area: post;
    height: 100vh;
    background-color: $white-color;

    .post-wrapper {
      img {
        width: auto;
        height: auto;
        max-height: 480px;
        max-width: 520px;
      }
    }
  }

  .post-details-container {
    grid-area: post-details;
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;

    .close-button {
      color: $primary-blue-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $brick-color;
      }
    }
  }

  .comments-container {
    grid-area: comments;
    overflow: auto;
  }
}
