@import '../../../../assets/styles/colors';

#post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'post post-details'
    'comments comments';

  .post-container {
    grid-area: post;
    height: 100vh;
    background-color: $white-color;

    .post-wrapper {
      img {
        width: auto;
        height: auto;
        max-height: 480px;
        max-width: 520px;
      }
    }
  }

  .post-details-container {
    grid-area: post-details;
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;

    .close-button-wrapper {
      padding-top: 48px;
      padding-right: 48px;
      display: flex;
      justify-self: flex-end;
      font-size: 18px;

      color: $primary-blue-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $brick-color;
      }
    }
  }

  .comments-container {
    grid-area: comments;
  }
}
