<!-- Post Page Container -->
<section id="post-container">
  <!-- Post -->
  <section class="post-container flex align-items-center justify-content-center">
    <section class="post-wrapper">
      <img
        src="https://pics.jilljuck.com/content/medium/085403content_3fd751f1-fa20-4291-8f05-3633644038dd.jpg"
        alt=""
      />
    </section>
  </section>

  <!-- Post Details -->
  <section class="post-details-container">
    <!-- Post Details -->
    <section class="p-32 pb-20 flex-column justify-content-center">
      <section class="flex justify-content-space-between">
        <header class="f-26">Title of the Post</header>
        <mat-icon class="pointer f-32 close-button" (click)="onCloseButtonClicked()">close</mat-icon>
      </section>
      <header class="f-16 mb-6">@arunselvakumar</header>
      <header class="f-12 mb-6">I am a description of the Post, Ha Ha Ha!</header>
      <one12-tags [tags]="tags"></one12-tags>
    </section>
  </section>

  <!-- Comments -->
  <section class="comments-container">
    <one12-comments></one12-comments>
  </section>
</section>
