@import "../../../../assets/styles/colors";

#post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'logo close'
    'post post-details'
    'comments comments';

  .logo-wrapper {
    grid-area: logo;
    padding-left: 64px;
  }

  .close-button-wrapper {
    grid-area: close;
    background-color: $lighter-grey-color;
    color: $dark-grey-color;
    font-size: 48px;
    padding-top: 16px;
    padding-right: 32px;
  }

  .post-container {
    grid-area: post;
    height: 100vh;

    img {
      width: auto;
      height: auto;
      max-height: 480px;
      max-width: 520px;
    }
  }

  .post-details-container {
    grid-area: post-details;
    background-color: $lighter-grey-color;
  }

  .comments-container {
    grid-area: comments;
  }
}
