<section id="post-container">
  <section class="logo-wrapper">
    <h3>One12</h3>
  </section>
  <section
    class="post-container flex align-items-center justify-content-center"
  >
    <img
      src="https://pics.jilljuck.com/content/medium/085403content_3fd751f1-fa20-4291-8f05-3633644038dd.jpg"
      alt=""
    />
  </section>
  <section class="post-details-container p-32 flex-column justify-content-center">
    <header class="f-26">Title of the Post</header>
    <header class="f-12">I am a description of the Post, Ha Ha Ha!</header>
    <one12-tags [tags]="tags"></one12-tags>
    <one12-post-details-cards></one12-post-details-cards>
  </section>
  <section class="comments-container"></section>
</section>
