<!-- Post Container -->
<section id="feed-card-container">
  <header>
    <!-- Post Title -->
    <section class="title pointer" (click)="onPostClicked(post)">
      <strong>
        {{ post.title }}
      </strong>
    </section>

    <!-- Username -->
    <section class="sub-title">
      <section>
        <!-- ToDo: UserName Binding -->
      </section>
      <section>
        {{ post.postedOn | timeAgo }}
      </section>
    </section>
  </header>

  <!-- Post Content -->
  <section>
    <article class="image-wrapper pointer" (click)="onPostClicked(post)">
      <img [src]="post.content" alt="" />
    </article>
  </section>

  <!-- Tags Container -->
  <section class="tags-container"></section>

  <!-- Footer -->
  <footer>
    <section class="left-section">
      <span>
        {{ post.likesCount | round | numberFormatter }} &nbsp;
        <i class="far fa-thumbs-up"></i>
      </span>
      <span>
        {{ post.commentsCount | round | numberFormatter }} &nbsp;
        <i class="fas fa-comments"></i>
      </span>
    </section>

    <section class="right-section">
      <i class="far fa-bookmark"></i>
    </section>
  </footer>
</section>
