<section id="feed-card-container">
  <header>
    <section class="title">
      <strong>
        {{ title }}
      </strong>
    </section>
    <section class="sub-title">
      <section>
        @arunselvakumar
      </section>
      <section>
        Few Moments Ago
      </section>
    </section>
  </header>
  <section>
    <article class="image-wrapper">
      <img [src]="content" alt="" />
    </article>
  </section>
  <section class="tags-container"></section>
  <footer>
    <section class="left-section">
      <i class="far fa-thumbs-up"></i>
      <i class="fas fa-comments"></i>
    </section>

    <section class="right-section">
      <i class="far fa-bookmark"></i>
    </section>
  </footer>
</section>
