<header id="time-line-header-container" class="flex flex-row justify-content-end">

  <!-- User Information -->
  <section class="flex justify-content-end" *ngIf="user">
    <section class="user-information-container">

      <!-- User Details -->
      <section class="flex-column justify-content-center">
        <section>
          <strong>Welcome</strong>
        </section>
        <section class="f-14 pointer" (click)="onLogOutButtonClicked()">
          {{ user.displayName }}
        </section>
      </section>

      <!-- User Profile Pic -->
      <section class="ml-15"><img [src]="user.photoURL" alt="" /></section>
    </section>
  </section>

  <!-- Login Button -->
  <section class="flex justify-content-end" *ngIf="!user">
    <button mat-flat-button color="primary" (click)="onLoginButtonClicked()">Login</button>
  </section>
</header>
