@import '../../../../../assets/styles/variables.scss';

#time-line-header-container {
  padding: 8px 30px;

  .user-information-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: end;
    color: $one-12-primary-color;

    img {
      width: 60px;
      height: 60px;
      border-radius: 6px;
    }
  }
}
