<section id="add-post-container">
  <!-- Left Panel -->
  <section>
    <!-- Header -->
    <header class="flex">
      <!-- Back Button -->
      <button mat-icon-button color="primary" class="animate__animated animate__zoomIn" (click)="onBackButtonClicked()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <!-- Header Title -->
      <section class="flex-column mt-5">
        <section class="primary-color f-26 animate__animated animate__fadeInRight">Creator's Corner</section>
        <section class="text-muted animate__animated animate__fadeInRight">
          Choose from Template/ Upload Post Content
        </section>
      </section>
    </header>

    <!-- Search Templates -->
    <section class="p-32">
      <one-12-search-templates-panel (templateSelected)="selectedTemplate = $event"></one-12-search-templates-panel>
    </section>
  </section>

  <!-- Right Panel -->
  <section>
    <one12-add-post-component [selectedTemplate]="selectedTemplate"></one12-add-post-component>
  </section>
</section>
