<section id="nav-sidebar-container">
  <section class="menu-items-container">
    <section class="menu-item pointer">
      <section><i class="fas fa-chalkboard"></i></section>
      <section>My Feeds</section>
    </section>
    <section class="menu-item pointer">
      <section><i class="fas fa-newspaper"></i></section>
      <section>Editor Picks</section>
    </section>
    <section class="menu-item pointer">
      <section><i class="fas fa-binoculars"></i></section>
      <section>Discover</section>
    </section>
    <section class="menu-item pointer">
      <section><i class="fas fa-fire"></i></section>
      <section>Fresh</section>
    </section>
  </section>
</section>
