@import "../../../../../assets/styles/colors";

:host {
  #popular-posts-wrapper {
    section {
      img {
        width: 81px;
        height: 80px;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      img:hover {
        -webkit-filter: contrast(1.1) brightness(1.15) saturate(1.1);
        filter: contrast(1.1) brightness(1.15) saturate(1.1);
        transform: scale(1.02);
      }
    }
  }

  #popular-posts-loader-wrapper {
    .image-placeholder {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: $skeleton-color;
      animation: pulse 2s infinite ease-in-out;
    }
  }

  @keyframes pulse {
    0% {
      background-color: $skeleton-color-01;
    }

    50% {
      background-color: $skeleton-color-03;
    }

    100% {
      background-color: $skeleton-color-01;
    }
  }
}
