<!-- Popular Posts Stream Container -->
<section class="flex flex-row">
  <!-- Popular Posts -->
  <section
    id="popular-posts-wrapper"
    class="flex flex-row overflow-hidden smooth-scroll"
    *ngIf="!isFetchingPopularPosts"
  >
    <section *ngFor="let post of popularPosts" class="pt-8 px-8">
      <img class="pointer" [src]="post.content" alt="" />
    </section>
  </section>

  <!-- Popular Posts Loader -->
  <section id="popular-posts-loader-wrapper" class="flex flex-row overflow-hidden" *ngIf="isFetchingPopularPosts">
    <section *ngFor="let post of popularPostsShadowedItems" class="pt-16 px-8">
      <section class="image-placeholder"></section>
    </section>
  </section>
</section>
