<section id="post-template-list-container">
  <section class="post-template-grid">
    <div *ngFor="let item of masonryItems" (click)="selectedMasonryItem = item" class="masonry-item pointer">
      <img [src]="item.url" alt="" class="moon" (click)="onMemeTemplateSelected()"
        [class.selected]="selectedMasonryItem && selectedMasonryItem.id === item.id">
      <div class="selected-text">
        <i-feather name="check-circle" class="check-circle"></i-feather>
      </div>
    </div>
  </section>
</section>
