@import '../../../../../assets/styles/colors';

#section-header-container {
  font-size: 16px;
  color: $primary-blue-color;

  .light-color {
    color: $white-color;
  }

  .mat-icon {
    font-size: 20px;
    width: 16px;
  }
}
