@import '../../../../../assets/styles/colors';

#tag-stream-container {
  display: flex;
  flex-wrap: wrap;

  button {
    color: $grey-color;
    font-size: 1rem;
    font-weight: 400;

    &.selected {
      color: $primary-blue-color;
    }
  }
}
