@import '../../../../../assets/styles/colors';

:host {
  #tag-stream-container {
    .tag {
      background-color: $tag-grey-color;
      color: $link-content-color;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 16px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $tag-dark-grey-color;
      }
    }
  }

  #tag-stream-loader-container {
    .tag {
      min-width: 100px;
      height: 30px;
      border-radius: 3px;
      background-color: $skeleton-color;
      animation: pulse 2s infinite ease-in-out;

      &:nth-child(1) {
        min-width: 80px;
      }

      &:nth-child(2) {
        min-width: 90px;
      }

      &:nth-child(3) {
        min-width: 75px;
      }

      &:nth-child(4) {
        min-width: 60px;
      }

      &:nth-child(5) {
        min-width: 90px;
      }

      &:nth-child(6) {
        min-width: 60px;
      }

      &:nth-child(7) {
        min-width: 80px;
      }
    }
  }

  @keyframes pulse {
    0% {
      background-color: $skeleton-color-01;
    }

    50% {
      background-color: $skeleton-color-03;
    }

    100% {
      background-color: $skeleton-color-01;
    }
  }
}
