<!-- Tag Container -->
<section id="tag-stream-container" class="flex-row overflow-hidden smooth-scroll" *ngIf="!isFetchingTrendingTags">
  <section *ngFor="let tag of tags" class="tag pointer no-wrap mr-16" (click)="onTagButtonClicked(tag)">
    {{ tag.name }}
  </section>
</section>

<!-- Tag Loader -->
<section id="tag-stream-loader-container" class="flex-row overflow-hidden smooth-scroll" *ngIf="isFetchingTrendingTags">
  <section *ngFor="let tag of tagsShadowedItems" class="tag pointer no-wrap mr-16"></section>
</section>
