<!-- Comments Container -->
<section id="comments-container" class="p-32 pt-0">
  <!-- Header -->
  <header class="f-26">Comments</header>

  <section class="add-comment-wrapper my-10">
    <textarea class="full-width" name="" id="" rows="5"></textarea>
    <div class="flex justify-content-end mr-m5">
      <button mat-flat-button color="primary">Comment</button>
    </div>
  </section>

  <!-- Comments List -->
  <section>
    <section *ngFor="let comment of comments" class="py-16">
      <section class="comment">
        <!-- User Image Wrapper -->
        <section class="image-wrapper px-16">
          <img [src]="comment.postedBy.profilePic" alt="" />
        </section>

        <!-- Comment Content Wrapper -->
        <section>
          <section class="comment-posted-by">
            {{ comment.postedBy.name }}
          </section>
          <section class="comment-content">
            {{ comment.comment }}
          </section>
          <section class="respond-container"><i class="fa fa-reply" aria-hidden="true"></i> Reply</section>
        </section>

        <!-- Time Content -->
        <section class="time-content">
          {{ comment.postedOn }}
        </section>
      </section>
    </section>
  </section>
</section>
