$primary-blue-color: #023765;

$text-color: #444444;
$grey-color: #777777;
$dark-grey-color: #d0d0d2;
$light-grey-color: #e3e4e3;
$lighter-grey-color: #f7f8f7;

$orange-color: #f87d61;

$purple-color: #603276;
$light-purple-color: #804c9a;

$brick-color: #c52921;

$blue-color: #0070a7;
$dark-blue-color: #1657a7;

$white-color: #ffffff;

$green-color: #3c7b0b;

$skeleton-color: rgb(165, 165, 165);
$skeleton-color-01: rgba(165, 165, 165, 0.1);
$skeleton-color-03: rgba(165, 165, 165, 0.3);

$link-color: #023765;
$link-content-color: #FEFEFF;
$body-background-color: #F3F5F7;

$tag-grey-color: #353A40;
$tag-dark-grey-color: #0D0D0F;

