$primary-blue-color: #004f79;

$text-color: #444444;
$grey-color: #777777;
$dark-grey-color: #d0d0d2;
$light-grey-color: #e3e4e3;
$lighter-grey-color: #f7f8f7;

$orange-color: #f87d61;

$purple-color: #603276;
$light-purple-color: #804c9a;

$brick-color: #c52921;

$blue-color: #0070a7;
$dark-blue-color: #1657a7;

$white-color: #ffffff;

$green-color: #3c7b0b;
