.pointer {
  cursor: pointer !important;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.p-2 {
  padding: 2px !important;
}

.p-16 {
  padding: 16px !important;
}

.px-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.p-32 {
  padding: 32px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.flex {
  display: flex !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.f-12 {
  font-size: 12px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-26 {
  font-size: 26px !important;
}

.full-width {
  width: 100% !important;
}

.half-width {
  width: 50% !important;
}
