@import 'colors';

.primary-color {
  color: $primary-blue-color;
}

.text-muted {
  color: $grey-color;
}

.text-align-center {
  text-align: center !important;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor: pointer !important;
}

.move {
  cursor: move !important;
}

.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-m20 {
  margin-top: -20px !important;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-64 {
  margin-left: 64px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-m5 {
  margin-right: -5px !important;
}

.mt-m10 {
  margin-top: -10px !important;
}

.mt-m20 {
  margin-top: -20px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.p-2 {
  padding: 2px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-32 {
  padding: 32px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pr-46 {
  padding-right: 46px !important;
}

.flex {
  display: flex !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.align-self-start {
  align-self: flex-start;
}

.align-items-justify-content-center {
  @extend .align-items-center;
  @extend .justify-content-center;
}

.wrap {
  flex-wrap: wrap !important;
}

.no-wrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-48 {
  font-size: 48px !important;
}

.f-64 {
  font-size: 64px !important;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.half-width {
  width: 50% !important;
}

.h-48 {
  height: 48px !important;
}

.h-200 {
  height: 200px !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.collapse {
  visibility: collapse !important;
}

.user-select-none {
  user-select: none !important;
}

.smooth-scroll {
  scroll-behavior: smooth !important;
}

.card {
  border: $light-grey-color 1px solid;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    margin-top: -4px;
  }
}

.card-no-hover-with-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container {
  max-width: 1920px;
  margin: auto;
}

.btn {
  min-height: 40px !important;
  min-width: 150px !important;
}

.primary-btn {
  @extend .btn;

  background: $dark-blue-color !important;
}
