<section id="creators-corner-container">
  <section class="upload-panel flex flex-column align-items-justify-content-center">
    <section class="flex flex-column align-items-justify-content-center">
      <div class="upload-meme-label">Upload Meme</div>
      <div class="mt-20 text-muted text-align-center">
        Search and select a Meme Template and click next to continue, or upload your meme directly from your machine.
      </div>
      <button class="pointer mt-20">Upload</button>
    </section>
  </section>
  <section class="post-template-panel">
    <one12-post-template-search></one12-post-template-search>
    <one12-post-template-list></one12-post-template-list>
  </section>
</section>
